body{
    background-color: #5f4b8bff;
    display:flex;
    flex-wrap:wrap;
    color: #e69a8dff
    
}
.card{
    box-shadow: 5px 5px 5px 5px;
    max-width: 300px;
    min-height:500px;
    max-height: 700px;
    float: left; 
    padding: 10px 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flexbox;

}

.card img{
    width: 200px; 
    height: 175px; 
    
    
}
 
h2{
    border: 1px;
    border-style:solid;
    border-color: #e69a8dff;
    text-align: center;
}
.desc{
    text-align: justify;
    padding-top: 20px;
}
.size {
    font-weight: bold;
}
.weight {
    font-weight: bold;
}
.details {
 font-weight: bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#avail {
    color: yellow;
    display: flex;
    flex: stretch;
    background: grey;
}